<% scores = values || {} %>
<div class="space-y-6">
<% [
    [:sweetness, t("shared.axis_scores.axis.sweetness")],
    [:richness, t("shared.axis_scores.axis.richness")],
    [:aftertaste, t("shared.axis_scores.axis.aftertaste")],
    [:flavor_score, t("shared.axis_scores.axis.flavor_score")],
    [:solubility, t("shared.axis_scores.axis.solubility")],
    [:foam, t("shared.axis_scores.axis.foam")]
  ].each do |key, axis_label| %>
    <% value = scores[key] || scores[key.to_s] %>
    <% position = value ? ((value - 1) / 4.0 * 100).round(1) : 50 %>
    <div class="grid gap-3 md:grid-cols-[140px_1fr] md:items-start">
      <div class="pt-1 text-sm font-semibold text-stone-700"><%= axis_label %></div>
      <div class="space-y-1">
        <div class="relative h-4 text-[10px] leading-tight text-stone-500">
          <span class="absolute left-0 text-left"><%= axis_label(key, 1) %></span>
          <span class="absolute left-1/4 -translate-x-1/2 text-center hidden sm:inline"><%= axis_label(key, 2) %></span>
          <span class="absolute left-1/2 -translate-x-1/2 text-center"><%= axis_label(key, 3) %></span>
          <span class="absolute left-3/4 -translate-x-1/2 text-center hidden sm:inline"><%= axis_label(key, 4) %></span>
          <span class="absolute right-0 text-right"><%= axis_label(key, 5) %></span>
        </div>
        <div class="relative h-3 rounded-full bg-stone-200">
          <% [0, 25, 50, 75, 100].each do |mark| %>
            <div class="absolute top-1/2 h-4 w-[2px] -translate-y-1/2 bg-stone-400" style="left: <%= mark %>%"></div>
          <% end %>
          <div class="absolute top-1/2 h-4 w-4 -translate-x-1/2 -translate-y-1/2 rounded-full bg-brand shadow" style="left: <%= position %>%"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
