<p><%= t("contact_mailer.contact_email.received") %></p>

<dl>
  <dt><%= t("contact_mailer.contact_email.name") %></dt>
  <dd><%= @contact_form.name %></dd>
  <dt><%= t("contact_mailer.contact_email.email") %></dt>
  <dd><%= @contact_form.email %></dd>
  <dt><%= t("contact_mailer.contact_email.subject") %></dt>
  <dd><%= @contact_form.subject %></dd>
</dl>

<p><%= t("contact_mailer.contact_email.message") %></p>
<p><%= simple_format(@contact_form.message) %></p>
